h1{
    font: 50px/50px "Impact"; text-align: center; 
  }
  p {
    display: block;
    width: 20%;
    float: left;
  }

  p1 {
    color:crimson;
  }

  p2{
    color:darkblue;
  }
  p3{
    color:darkgreen;
  }
  p4{
    color:blueviolet;
  }

  img {
    width: 60px;
    height: 60px;
  }
